h1 {
	font-size: 24px;
	font-family: 'Georgia', 'Times', 'Times New Roman', serif;
}

h2 {font-size: 24px;
	font-family: 'Georgia', 'Times', 'Times New Roman', serif;
 }

 header {
 	height: 90px;
 	color: #ffffff;
 }

.wrapper {
	width: 960px;
}

.content {
	width: 650px;
}

.connect {
	width: 270px;
}

#pic {
	width: 200px;
}