h1 {
	font-size: 24px;
	font-family: 'Georgia', 'Times', 'Times New Roman', serif;
}

h2 {font-size: 24px;
	font-family: 'Georgia', 'Times', 'Times New Roman', serif;
 }

 header {
 	height: 90px;
 	background-color: #ffffff;
 	margin: 0px;
 	padding: 0px;
 	position: fixed;
 	top: 0;
	right: 0;
	left: 0;
 	border-bottom: 2px;
 	border-top: 0px;
 	border-left: 0px;
 	border-right: 0px;
	border-color: #dddddd; 
	border-style: solid; 
  }

 #header {
 	height: 90px;
 	width: 250px;
 	background-color: #4aaaa5;
 	margin-left: 156px;
 	margin-top: 0px;
 	position: fixed;
 	top: 0;
 }

.wrapper {
	width: 960px;
}

.content {
	width: 650px;
}

.connect {
	width: 270px;
}

#pic {
	width: 200px;
}