body {
	margin: 0px;
	padding: 0px;
}

h1 {
	font-size: 30px;
	color: #ffffff;
	font-family: 'Georgia', 'Times', 'Times New Roman', serif;
	line-height: 45px;
}

h2 {font-size: 30px;
	font-family: 'Georgia', 'Times', 'Times New Roman', serif;
	color: #4aaaa5;
	line-height: 60px;
 }


header {
 	height: 90px;
 	width: 100%;
 	background-color: #ffffff;
 	margin: 0px 0px 40px 0px;
 	padding: 0px;
 	border-bottom: 2px solid #cccccc;
  }

footer {
	text-align: center;
	color: #cccccc;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 11px;
	background-color: #666666;
	border-top: 8px solid #4aaaa5; 
	clear: both;
    left: 0;
    bottom: 0;
    height: 94px;
    width: 100%;
    line-height: 100px;
}

#footercopy {
	margin: auto;
}

 #tealheader {
 	height: 90px;
 	width: 350px;
 	background-color: #4aaaa5;
 	text-align: center;
 	margin-left: 156px;
 	margin-top: 0px;
 	padding: 0px;
 	display: inline-block;
 }

 #menu {
	margin-top: 30px;
	margin-right: 240px;
	float: right;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	color: ##cccccc;
	font-style: normal;
 	 }

.menu-items {
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	color: #777777;
	font-style: normal;
	text-decoration: none;

}

.wrapper {
	width: 960px;
	margin-left: 156px;
}

.content {
	float: left;
	width: 590px;
	background-color: #ffffff;
	border-style: solid;
	border-color: #dddddd;
	border-width: 1px;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	color: #777777;
	font-size: 18px;
	line-height: 32px;
	padding: 0px 30px 30px 30px;
	margin-bottom: 40px;
}

#aboutme {
	padding: 0px;
	margin: 0px 0px 20px 0px;
	background-color: #ffffff;
	width: 100%;
	height: 75px;
	border-bottom: 3px solid #dddddd;	
}

.connect {
	width: 210px;
	height: 170px;
	float: right;
	background-color: #ffffff;
	border-style: solid;
	border-color: #dddddd;
	border-width: 1px;
	padding: 0px 30px 30px 30px;
}

#connectme {
	padding: 0px;
	margin: 0px 0px 20px 0px;
	background-color: #ffffff;
	width: 100%;
	height: 50px;
	border-bottom: 2px solid #eeeeee;
}

h3 {
	font-size: 21px;
	font-family: 'Georgia', 'Times', 'Times New Roman', serif;
	color: #4aaaa5;
	line-height: 40px;
}

.icon {
	float: left;
	width: 30%;
	height: 30%;
}

#icon-group {
	display: inline-block;
	margin: auto;
}

#pic {
	width: 200px;
	height: 150px;
	overflow: hidden;
	clip: rect(0px,200px,150px,0px);
	float: left;
	padding-right: 30px;
}

/* POTFOLIO PAGE */

.projects {
	width: 275px;
	height: 205px;
	background-color: #777;
	margin: 0px;
	float: left;
	position: relative;
}

.title {
	font-family: 'Georgia', 'Times', 'Times New Roman', serif;
	font-size: 22px;
	color: #fff;
	text-align: center;
	line-height: 20px;
	width: 275px;
	height: 60px;
	background-color: #4aaaa5;
	position: absolute;
	top: 136px;
}


/* CONTACT PAGE */

.input {
	width: 100%;
	height: 35px;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	font: 14px 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
}

textarea {
	width: 100%;
	height: 200px;
	border: 1px solid #ddd;
}

#submit-button {
	width: 116px;
	height: 41px;
	background-color: #4aaaa5;
	border: none;
	font: 18px 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	color: #fff;
}

